
.container {
    display: flex;
    }
.headings {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: black;
    color: gold;
}
.two {
    background-color: gold;
    order: -1;
    flex-basis: 25%;
    margin-right: 5%;
}

.three {
    
    /* margin-right: 60px; */


    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 10% repeat (18, 5%)
    order: 0;
    
    /* padding: 20px; */

}
.three h1:nth-child(1){
    grid-row: 1 / 2;
}
.three p:nth-child(2){
    grid-row: 2 / 3;
}
.three h3:nth-child(3){
    grid-row: 3 / 4;
}
.three p:nth-child(4){
    grid-row: 4 / 5;
}
.three p:nth-child(5){
    grid-row: 5 / 6;
}
.three p:nth-child(6){
    grid-column: 2;
    grid-row: 4 / 5;
}
.three p:nth-child(7){
    grid-column: 2;
    grid-row: 5 / 6;
}
.three p:nth-child(8){
    grid-row: 6 / 7;
    grid-column: 2;
}
.three p:nth-child(9){
    grid-row: 7 / 8;
    grid-column: 1;
}
.three p:nth-child(10){
    grid-row: 8 / 9;
}
.three p:nth-child(11){
    grid-column: 2;
    grid-row: 7 / 8;
}
.three p:nth-child(12){
    grid-column: 2;
    grid-row: 8 / 9;
}
.three p:nth-child(13){
    grid-column: 2;
    grid-row: 9 / 10;
}
.three h3:nth-child(14){
    grid-row: 10 / 11;
}
.three p:nth-child(15){
    grid-row: 11 / 12;
    grid-column:2;
}
.three p:nth-child(16){
    grid-row: 12 / 13;
}
.three p:nth-child(17){
    grid-row: 11 / 12;
    grid-column: 1;
}
.three p:nth-child(18){
    grid-column: 2;
    grid-row: 13 / 14;
}
.three p:nth-child(19){
    grid-row: 14 / 15;
    grid-column: 2;
}
.three p:nth-child(20){
    grid-column: 2;
    grid-row: 15 / 16;
}
.three p:nth-child(21){
    grid-row: 14 / 15;
}
.three p:nth-child(22){
    grid-column: 2;
    grid-row: 16 / 17;
}
.three p:nth-child(23){
    grid-row: 17 / 18;
    grid-column: 2;
}
.three p:nth-child(24){
    grid-row: 18 / 19;
    grid-column: 2;
}
.three p:nth-child(25){
    grid-row: 17 / 18;
}
.three p:nth-child(26){
    grid-row: 19 / 20;
    grid-column: 2;
}
.three p:nth-child(27){
    grid-row: 12 / 13;
}
.three p:nth-child(28){
    grid-row: 15 / 16;
}
.three p:nth-child(29){
    grid-row: 18 / 19;
}
.three h3:nth-child(30){
    grid-row: 20 / 21;
}
.three p:nth-child(31){
    grid-row: 21 / 22;
}
.three p:nth-child(32){
    grid-row: 22 / 23;
}
.three p:nth-child(33){
    grid-row: 23 / 24;
}
.three p:nth-child(34){
    grid-row: 21 / 22;
    grid-column: 2
}
.three p:nth-child(35){
    grid-row: 22 / 23;
    grid-column: 2;
}
.three p:nth-child(36){
    grid-row: 23 / 24;
    grid-column: 2;
}

    



    img {border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left:20%;
    margin-top: 5%;}

   .education{
       border-bottom: 1px solid gold;
       width: 750px;
       
   }
   .experience{
       border-bottom: 1px solid gold;
       width: 725px;
   }
   .references{
       border-bottom: 1px solid gold;
       width: 725px;
   }